<%- include("partials/header")%>
<div class="container">
    <div class="jumbotron">
        <h1>The Chat Application</h1>
        <p class="lead">For internship at ThingsGoSocial</p>
        <p>
            <ol>
                <li>First Signup!</li>
                <li>Then Login Using the username/password which you used</li>
                <li>Only Then you will have access to chatting</li>
            </ol>
        </p>
        <hr>
        <a class="btn btn-dark btn-lg" href="/signup">Signup</a>
        <a class="btn btn-dark btn-lg" href="/login">Login</a>
    </div>
</div>
<%-include("partials/footer")%>